body{
    color: white;
    background-color: rgba(24, 24, 24, 0.911);
    padding: 0;
    margin: 0;
}

#Header {
    color: rgb(90, 46, 152);
    width: 100%;
    padding: 3% 3% 3% 5%;
    margin-bottom: 5%;
    background: rgb(14, 14, 14);
    position: sticky;
    top: 0;

    font: 3em sans-serif;
}

#Searchbar{
    color: white;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1%;
    font-size: large;
    font-weight: bold;
    background-color: rgba(34, 34, 34, 0.911);
    height: 60px;
    width: 500px;
    border-style: none;
    border-radius: 25px 0 0 25px;
}

#SearchButton{
    color: white;
    margin-left: 0;
    height: 60px;
    width: 80px;
    background-color: rgb(90, 46, 152);
    border-style: none;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}

#SearchButton:hover{
    background-color: rgb(79, 43, 129);
    cursor: pointer;
}

#SearchForm{
    display: inline;
    margin-left: 15%;
    padding: 0;
}


#OrderLink{
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font: 0.5em sans-serif;
    font-weight: bold;
    border-bottom-color: rgb(90, 46, 152);
    border-bottom-style: solid;

    margin-left: 5%;
}

#PizzaLink{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font: 0.5em sans-serif;
    font-weight: bold;

    margin-left: 7.5%;
}

#PizzaLink:hover {
    color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(90, 46, 152);
}

#OrderPage{
    display: flex;
    flex-direction: row;
}

#TransactionForm{
    background-color: rgb(14, 14, 14);
    margin-right: 0%;
    margin-left: 10%;
    border-radius: 20px;
    padding: 2%;
}

#AddressForm{
    color: white;
    background-color: rgba(34, 34, 34, 0.911);
    border-style: none;
    padding-left: 5px;
    width: 300px;
    height: 45px;
    border-radius: 25px
}

#PhonenumberForm{
    color: white;
    background-color: rgba(34, 34, 34, 0.911);
    border-style: none;
    padding-left: 5px;
    width: 300px;
    height: 45px;
    border-radius: 25px;
    margin-top: 5%;
}

#TransactionSubmit{
    background-color: rgb(90, 46, 152);
    color: white;
    border-style: none;
    border-radius: 25px;
    height: 45px;
    width: 150px;
    margin-top: 15px;
    font: 16px sans-serif;
    font-weight: bold;
}

#TransactionSubmit:Hover{
    background-color: rgb(79, 43, 129);
    cursor: pointer;
}

#OrderList{
    background-color: rgb(14, 14, 14);
    margin-right: 0;
    margin-left: 10%;
    border-radius: 20px;
    padding: 2%;
    width: 800px;
}

#OrderTitle{
    font: 25px sans-serif;
    font-weight: bold;
    border-bottom: solid;
    border-color: rgb(90, 46, 152);
    margin-top: 3%;
}

#OrderTitleTotal{
    font: 25px sans-serif;
    font-weight: bold;
    border-bottom: solid;
    border-color: rgb(90, 46, 152);
    margin-top: 4%;
}

#Order{
    display: flex;
    flex-direction: row;
    font: 16px sans-serif;
}

.OrderTableRows{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 80px;
    padding-top: 8%;
}

#removeButton{
    border: none;
    background-color: rgb(14, 14, 14);
    color: white;
    font: 16px sans-serif;
}

#removeButton:hover{
    cursor: pointer;
}

.OrderTableRowsTotal {
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 120px;
    padding-top: 2%;
}

#Image{
    height: 150px;
    width: 250px;
    border-radius: 25px;
    margin-left: 0;
    margin-top: 3%;
}

#total{
    margin-left: 29%;
    display: flex;
    flex-direction: row;
    font: 19px sans-serif;
}

#noItems{
    margin-top: 8%;
    font: 2em sans-serif;
    color: rgba(255,255,255,0.6);
    text-align: center;
}