body{
    color: white;
    background-color: rgba(24, 24, 24, 0.911);
    padding: 0;
    margin: 0;
}

#Header{
    color: rgb(90, 46, 152);
    width: 100%;
    padding: 3% 3% 3% 5%;
    margin-bottom: 5%;
    background: rgb(14, 14, 14);
    position: sticky;
    top: 0;

    font: 3em sans-serif;
}

#Searchbar{
    color: white;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    padding-left: 1%;
    font-size: large;
    font-weight: bold;
    background-color: rgba(34, 34, 34, 0.911);
    height: 60px;
    width: 500px;
    border-style: none;
    border-radius: 25px 0 0 25px;
}

#SearchButton{
    color: white;
    margin-left: 0;
    height: 60px;
    width: 80px;
    background-color: rgb(90, 46, 152);
    border-style: none;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}

#SearchButton:hover{
    background-color: rgb(79, 43, 129);
    cursor: pointer;
}

#SearchForm{
    display: inline;
    margin-left: 15%;
    padding: 0;
}

#PizzaLink{
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font: 0.5em sans-serif;
    font-weight: bold;
    border-bottom-color: rgb(90, 46, 152);
    border-bottom-style: solid;

    margin-left: 7.5%;
}
#OrderLink{
    display: inline;
    color: rgba(255, 255, 255, 0.747);
    text-decoration: none;
    font: 0.5em sans-serif;
    font-weight: bold;

    margin-left: 5%;
}

#OrderLink:hover{
    color:white;
    border-bottom-style: solid;
    border-bottom-color: rgb(90, 46, 152);
}

#Pizza{
    margin: 5% 30%;
    background-color: rgb(14, 14, 14);
    border-radius: 20px;
    padding-top: 60px;
    padding-left: 5%;
    font: 1em sans-serif;
    display: flex;
    flex-direction: row;
}

#PizzaImage{
    height: 250px;
    width: 350px;
    border-radius: 25px;
    margin-bottom: 8%;
}

#text{
    padding-left: 13%;
}

#PizzaName{
    color: rgb(90, 46, 152);
    font-weight: bold;
    font-size: large;
}

#AmountField{
    color: white;
    background-color: rgba(34, 34, 34, 0.911);
    border-style: none;
    padding-left: 5px;
    width: 30px;
    height: 20px;
    border-radius: 5px

}

#cartButton{
    background-color: rgb(90, 46, 152);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
    height: 40px;
    width: 100px;
    margin-top: 60px;
    margin-bottom: 45px;
}

#cartButton:hover{
    background-color: rgb(79, 43, 129);
    cursor: pointer;
}

#noResults{
    font: 3em sans-serif;
    color: rgba(255,255,255,0.6);
    text-align: center;
}